.mybody{

}
.myimg {
    height: 20px;
}

.mycon {
    width: 100%;
    background-color: #b9c3ff;
}

.mycolor{
    background-color: #78aaff;
}

a.btnhover:hover{
    background: #78aaff;
    color: white;
    border-radius: 25%;
}
.navbar-fixed-left{
    /*width: 100px;
    position: fixed;*/
    border-radius: 0;
    height: 100%;
}
/*
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}*/
/*--------------------sidebar stuff here
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 150px;
    max-width: 150px;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
------------------------------*/
